[Unit]
Description=gddr6 and metrics_exporter service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/supervisor_script.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
