[Unit]
Description=nvml_direct_access and metrics_exporter service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/gddr6-metrics-exporter_supervisor_script.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
