[Unit]
Description=Nvidia GPU Exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/nvidia_gpu_exporter.sh
WorkingDirectory=/usr/local/bin
Restart=on-failure

[Install]
WantedBy=multi-user.target
